node_red_script/backyard_flow_v2.json
[{"id":"ae6ca714.991898","type":"tab","label":"Backyard","disabled":false,"info":""},{"id":"a5469609.503878","type":"function","z":"ae6ca714.991898","name":"IsNan","func":"if(!isNaN(msg.payload)) {\n    msg.topic = \"Temperature\";\n    return msg;\n}","outputs":1,"noerr":0,"x":457,"y":126,"wires":[["2c27f84f.55bcf8","feed4e1a.54cfd","93048867.20f578"]]},{"id":"93048867.20f578","type":"ui_gauge","z":"ae6ca714.991898","name":"Backyard Temperature Gauge","group":"36466ca2.91fcd4","order":1,"width":"6","height":"3","gtype":"gage","title":"Temperature","label":"°C","format":"{{value|number:1}}","min":"-15","max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":826,"y":100,"wires":[]},{"id":"2c27f84f.55bcf8","type":"debug","z":"ae6ca714.991898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":766,"y":165,"wires":[]},{"id":"5f983312.9c745c","type":"function","z":"ae6ca714.991898","name":"IsNan","func":"if(!isNaN(msg.payload)) {\n    msg.topic = \"Humidity\";\n    return msg;\n}","outputs":1,"noerr":0,"x":483,"y":353,"wires":[["f02cf1e8.61773","942d9600.9eed58","feed4e1a.54cfd"]]},{"id":"f02cf1e8.61773","type":"ui_gauge","z":"ae6ca714.991898","name":"Backyard Humidity Compass","group":"36466ca2.91fcd4","order":2,"width":"6","height":"3","gtype":"compass","title":"Humidity","label":"%","format":"{{value|number:0}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":816,"y":351,"wires":[]},{"id":"942d9600.9eed58","type":"debug","z":"ae6ca714.991898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":766,"y":412,"wires":[]},{"id":"582c82c6.8af43c","type":"ui_gauge","z":"ae6ca714.991898","name":"Backyard Light Gauge","group":"36466ca2.91fcd4","order":3,"width":"6","height":"3","gtype":"gage","title":"Light","label":"%","format":"{{value|number:0}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":499,"wires":[]},{"id":"a274aa3d.ad2758","type":"debug","z":"ae6ca714.991898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":771,"y":609,"wires":[]},{"id":"feed4e1a.54cfd","type":"ui_chart","z":"ae6ca714.991898","name":"Backyard Temp/Hum chart","group":"36466ca2.91fcd4","order":4,"width":"6","height":"5","label":"Temp/Hum History","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#30f1f1","#ff7f0e","#2ca02c","#ff6a6a","#e6e600","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":816,"y":280,"wires":[[],[]]},{"id":"8acf35e2.b862b8","type":"ui_chart","z":"ae6ca714.991898","name":"Backyard Light Chart","group":"36466ca2.91fcd4","order":5,"width":"6","height":"4","label":"Light History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":799,"y":551,"wires":[[],[]]},{"id":"924271b8.1811f","type":"mqtt in","z":"ae6ca714.991898","name":"Backyard Light","topic":"espnode1/light","qos":"1","broker":"e1f4319e.4b65f","x":241,"y":548.5,"wires":[["582c82c6.8af43c","8acf35e2.b862b8","a274aa3d.ad2758"]]},{"id":"e2bb120b.7e4c4","type":"mqtt in","z":"ae6ca714.991898","name":"Backyard Humidity","topic":"espnode1/humidity","qos":"1","broker":"e1f4319e.4b65f","x":231,"y":352.5,"wires":[["5f983312.9c745c"]]},{"id":"a97510e3.bc24f","type":"mqtt in","z":"ae6ca714.991898","name":"Backyard Temperature","topic":"espnode1/temperature","qos":"1","broker":"e1f4319e.4b65f","x":217,"y":125.5,"wires":[["a5469609.503878"]]},{"id":"36466ca2.91fcd4","type":"ui_group","z":"","name":"Backyard","tab":"7b94a61e.198c48","order":1,"disp":true,"width":"6","collapse":true},{"id":"e1f4319e.4b65f","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7b94a61e.198c48","type":"ui_tab","z":"","name":"Home Automation and Monitoring","icon":"dashboard","order":1}]