node_red_script/backyard_flow1_v3.json
[{"id":"b55b083f.efadb8","type":"http request","z":"467e2699.b39858","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1070,"y":140,"wires":[[]]},{"id":"9414aba9.b12dc8","type":"function","z":"467e2699.b39858","name":"isNotNan & CreateHttpRequest","func":"if(!isNaN(msg.payload)) {\n    \n    var API_KEY = \"ZJ90P58GA4ATE32Q\"; \n\n    var data = msg.payload;\n\n    msg.url = \"https://api.thingspeak.com/update?api_key=\"+ API_KEY + \"&field1=\" + data; \n\n    msg.topic = \"Temperature\";\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":537,"y":126,"wires":[["fa64794b.58e498","f47d434d.588fc","e9a9e5d1.ce8598","b55b083f.efadb8"]]},{"id":"ec1908a9.f93968","type":"function","z":"467e2699.b39858","name":"CreateHttpRequest","func":"var API_KEY = \"ZJ90P58GA4ATE32Q\"; \n\nvar data = msg.payload;\n\nmsg.url = \"https://api.thingspeak.com/update?api_key=\"+ API_KEY + \"&field3=\" + data; \n\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":500,"wires":[["383d5ae5.61f0c6"]]},{"id":"fa64794b.58e498","type":"debug","z":"467e2699.b39858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":766,"y":165,"wires":[]},{"id":"f47d434d.588fc","type":"ui_chart","z":"467e2699.b39858","name":"Backyard Temp/Hum chart","group":"1dd699cd.2169a6","order":4,"width":"6","height":"5","label":"Temp/Hum History","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#30f1f1","#ff7f0e","#2ca02c","#ff6a6a","#e6e600","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":816,"y":280,"wires":[[],[]]},{"id":"e9a9e5d1.ce8598","type":"ui_gauge","z":"467e2699.b39858","name":"Backyard Temperature Gauge","group":"1dd699cd.2169a6","order":1,"width":"6","height":"3","gtype":"gage","title":"Temperature","label":"°C","format":"{{value|number:1}}","min":"-15","max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":826,"y":100,"wires":[]},{"id":"ef91c91f.4d56d8","type":"mqtt in","z":"467e2699.b39858","name":"Backyard Temperature","topic":"espnode1/temperature","qos":"1","broker":"fa443fb9.5c173","x":217,"y":125.5,"wires":[["9414aba9.b12dc8"]]},{"id":"dca98f97.4c53a","type":"function","z":"467e2699.b39858","name":"isNotNan & CreateHttpRequest","func":"if(!isNaN(msg.payload)) {\n    \n    var API_KEY = \"ZJ90P58GA4ATE32Q\"; \n\n    var data = msg.payload;\n\n    msg.url = \"https://api.thingspeak.com/update?api_key=\"+ API_KEY + \"&field2=\" + data; \n\n    msg.topic = \"Humidity\";\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["f47d434d.588fc","86397d3.1659b8","8b748738.4dcdb8","bfe6017e.fe718"]]},{"id":"79224924.904b28","type":"mqtt in","z":"467e2699.b39858","name":"Backyard Light","topic":"espnode1/light","qos":"1","broker":"fa443fb9.5c173","x":241,"y":548.5,"wires":[["ec1908a9.f93968","1440ff19.a94601","f8d1950a.bcb1a8","6e686ecd.35724"]]},{"id":"86397d3.1659b8","type":"ui_gauge","z":"467e2699.b39858","name":"Backyard Humidity Compass","group":"1dd699cd.2169a6","order":2,"width":"6","height":"3","gtype":"compass","title":"Humidity","label":"%","format":"{{value|number:0}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":816,"y":351,"wires":[]},{"id":"8b748738.4dcdb8","type":"debug","z":"467e2699.b39858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":766,"y":412,"wires":[]},{"id":"febf650a.1e07e8","type":"mqtt in","z":"467e2699.b39858","name":"Backyard Humidity","topic":"espnode1/humidity","qos":"1","broker":"fa443fb9.5c173","x":231,"y":352.5,"wires":[["dca98f97.4c53a"]]},{"id":"1440ff19.a94601","type":"ui_gauge","z":"467e2699.b39858","name":"Backyard Light Gauge","group":"1dd699cd.2169a6","order":3,"width":"6","height":"3","gtype":"gage","title":"Light","label":"%","format":"{{value|number:0}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":499,"wires":[]},{"id":"f8d1950a.bcb1a8","type":"ui_chart","z":"467e2699.b39858","name":"Backyard Light Chart","group":"1dd699cd.2169a6","order":5,"width":"6","height":"4","label":"Light History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":799,"y":551,"wires":[[],[]]},{"id":"6e686ecd.35724","type":"debug","z":"467e2699.b39858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":771,"y":609,"wires":[]},{"id":"bfe6017e.fe718","type":"http request","z":"467e2699.b39858","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1030,"y":320,"wires":[[]]},{"id":"383d5ae5.61f0c6","type":"http request","z":"467e2699.b39858","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1290,"y":500,"wires":[[]]},{"id":"1dd699cd.2169a6","type":"ui_group","z":"","name":"Backyard","tab":"227a1c7c.e82724","order":1,"disp":true,"width":"6","collapse":true},{"id":"fa443fb9.5c173","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"227a1c7c.e82724","type":"ui_tab","z":"","name":"Home Automation and Monitoring","icon":"dashboard","order":1}]