node_red_script/bedroom_flow3_v3.json
[{"id":"c71f176d.d39e08","type":"ui_gauge","z":"58067435.678ddc","name":"Bedroom Temperature Gauge","group":"9eca0cb9.66818","order":1,"width":"6","height":"3","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-15","max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":160,"wires":[]},{"id":"21ecf164.d6623e","type":"debug","z":"58067435.678ddc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":220,"wires":[]},{"id":"72dcc781.afe908","type":"ui_gauge","z":"58067435.678ddc","name":"Bedroom Humidity Compass","group":"9eca0cb9.66818","order":2,"width":"6","height":"3","gtype":"compass","title":"Humidity","label":"%","format":"{{value|number:0}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":755,"y":356,"wires":[]},{"id":"811411c3.d4fbe","type":"debug","z":"58067435.678ddc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":707,"y":415,"wires":[]},{"id":"fb262c2b.f84b8","type":"ui_gauge","z":"58067435.678ddc","name":"Bedroom Light Gauge","group":"9eca0cb9.66818","order":3,"width":"6","height":"3","gtype":"gage","title":"Light","label":"%","format":"{{value|number:0}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":741,"y":514,"wires":[]},{"id":"55583e43.01f9c","type":"ui_chart","z":"58067435.678ddc","name":"Bedroom Temp/Hum Chart","group":"9eca0cb9.66818","order":4,"width":"6","height":"4","label":"Temp/Hum History","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"45","removeOlder":"50","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":753,"y":286,"wires":[[],[]]},{"id":"28fd1bde.b9b594","type":"ui_chart","z":"58067435.678ddc","name":"Bedroom Light Chart","group":"9eca0cb9.66818","order":5,"width":"6","height":"4","label":"Light History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":741,"y":570,"wires":[[],[]]},{"id":"3b54e473.6854cc","type":"mqtt in","z":"58067435.678ddc","name":"Bedroom Temperature","topic":"espnode3/temperature","qos":"1","broker":"c314a4f0.cb96c8","x":170,"y":139.5,"wires":[["17ac2630.a1da6a"]]},{"id":"d4531171.fda5b","type":"mqtt in","z":"58067435.678ddc","name":"Bedroom Humidity","topic":"espnode3/humidity","qos":"1","broker":"c314a4f0.cb96c8","x":174,"y":358.5,"wires":[["c295de4b.70ada"]]},{"id":"ada89477.c07c28","type":"mqtt in","z":"58067435.678ddc","name":"Bedroom Light","topic":"espnode3/light","qos":"1","broker":"c314a4f0.cb96c8","x":185,"y":568.5,"wires":[["fb262c2b.f84b8","28fd1bde.b9b594","f93361c5.549a","61248c1a.7269f4"]]},{"id":"f93361c5.549a","type":"debug","z":"58067435.678ddc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":713,"y":631,"wires":[]},{"id":"98f91922.33e488","type":"inject","z":"58067435.678ddc","name":"","topic":"","payload":"30","payloadType":"num","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":188,"y":208.5,"wires":[["17ac2630.a1da6a"]]},{"id":"c7d04557.6b4bc8","type":"inject","z":"58067435.678ddc","name":"","topic":"","payload":"45","payloadType":"num","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":183,"y":428.5,"wires":[["c295de4b.70ada"]]},{"id":"8dae803e.92265","type":"inject","z":"58067435.678ddc","name":"","topic":"","payload":"60","payloadType":"num","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":187,"y":641.5,"wires":[["28fd1bde.b9b594","fb262c2b.f84b8","f93361c5.549a","61248c1a.7269f4"]]},{"id":"288fcd2.78f3c32","type":"http request","z":"58067435.678ddc","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1010,"y":200,"wires":[[]]},{"id":"61248c1a.7269f4","type":"function","z":"58067435.678ddc","name":"CreateHttpRequest","func":"var API_KEY = \"ZJ90P58GA4ATE32Q\"; \n\nvar data = msg.payload;\n\nmsg.url = \"https://api.thingspeak.com/update?api_key=\"+ API_KEY + \"&field7=\" + data; \n\nreturn msg;\n","outputs":1,"noerr":0,"x":1010,"y":520,"wires":[["9f7be6c6.cf16b8"]]},{"id":"17ac2630.a1da6a","type":"function","z":"58067435.678ddc","name":"isNotNan & CreateHttpRequest","func":"if(!isNaN(msg.payload)) {\n    \n    var API_KEY = \"ZJ90P58GA4ATE32Q\"; \n\n    var data = msg.payload;\n\n    msg.url = \"https://api.thingspeak.com/update?api_key=\"+ API_KEY + \"&field5=\" + data; \n\n    msg.topic = \"Temperature\";\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["c71f176d.d39e08","21ecf164.d6623e","55583e43.01f9c","288fcd2.78f3c32"]]},{"id":"c295de4b.70ada","type":"function","z":"58067435.678ddc","name":"isNotNan & CreateHttpRequest","func":"if(!isNaN(msg.payload)) {\n    \n    var API_KEY = \"ZJ90P58GA4ATE32Q\"; \n\n    var data = msg.payload;\n\n    msg.url = \"https://api.thingspeak.com/update?api_key=\"+ API_KEY + \"&field6=\" + data; \n\n    msg.topic = \"Humidity\";\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["55583e43.01f9c","72dcc781.afe908","811411c3.d4fbe","b2bb54d1.68eae8"]]},{"id":"b2bb54d1.68eae8","type":"http request","z":"58067435.678ddc","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1010,"y":360,"wires":[[]]},{"id":"9f7be6c6.cf16b8","type":"http request","z":"58067435.678ddc","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1230,"y":520,"wires":[[]]},{"id":"9eca0cb9.66818","type":"ui_group","z":"","name":"Bedroom","tab":"1eba11f8.ea7e9e","order":3,"disp":true,"width":"6","collapse":true},{"id":"c314a4f0.cb96c8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1eba11f8.ea7e9e","type":"ui_tab","z":"","name":"Home Automation and Monitoring","icon":"dashboard","order":1}]