node_red_script/bedroom_flow_v2.json
[{"id":"ee4c3935.327368","type":"tab","label":"Bedroom","disabled":false,"info":""},{"id":"41af03a7.b0899c","type":"function","z":"ee4c3935.327368","name":"IsNan","func":"if(!isNaN(msg.payload)) {\n    msg.topic = \"Temperature\";\n    return msg;\n}","outputs":1,"noerr":0,"x":423,"y":140,"wires":[["f5c3a4dc.e250f8","371e2700.14d89a","f24114f5.b2ab28"]]},{"id":"f5c3a4dc.e250f8","type":"ui_gauge","z":"ee4c3935.327368","name":"Bedroom Temperature Gauge","group":"d4ab669.c50c698","order":1,"width":"6","height":"3","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-15","max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":761,"y":110,"wires":[]},{"id":"371e2700.14d89a","type":"debug","z":"ee4c3935.327368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":701,"y":174,"wires":[]},{"id":"259d0460.979ccc","type":"function","z":"ee4c3935.327368","name":"IsNan","func":"if(!isNaN(msg.payload)) {\n    msg.topic = \"Humidity\";\n    return msg;\n}","outputs":1,"noerr":0,"x":422,"y":358,"wires":[["88ef2833.94a558","9b1ad85c.06dec8","f24114f5.b2ab28"]]},{"id":"88ef2833.94a558","type":"ui_gauge","z":"ee4c3935.327368","name":"Bedroom Humidity Compass","group":"d4ab669.c50c698","order":2,"width":"6","height":"3","gtype":"compass","title":"Humidity","label":"%","format":"{{value|number:0}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":755,"y":356,"wires":[]},{"id":"9b1ad85c.06dec8","type":"debug","z":"ee4c3935.327368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":707,"y":415,"wires":[]},{"id":"bde8384b.d0d5e8","type":"ui_gauge","z":"ee4c3935.327368","name":"Bedroom Light Gauge","group":"d4ab669.c50c698","order":3,"width":"6","height":"3","gtype":"gage","title":"Light","label":"%","format":"{{value|number:0}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":741,"y":514,"wires":[]},{"id":"f24114f5.b2ab28","type":"ui_chart","z":"ee4c3935.327368","name":"Bedroom Temp/Hum Chart","group":"d4ab669.c50c698","order":4,"width":"6","height":"4","label":"Temp/Hum History","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"45","removeOlder":"50","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":753,"y":286,"wires":[[],[]]},{"id":"98d3cedb.31405","type":"ui_chart","z":"ee4c3935.327368","name":"Bedroom Light Chart","group":"d4ab669.c50c698","order":5,"width":"6","height":"4","label":"Light History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":741,"y":570,"wires":[[],[]]},{"id":"85956e94.195ff","type":"mqtt in","z":"ee4c3935.327368","name":"Bedroom Temperature","topic":"espnode3/temperature","qos":"1","broker":"e1f4319e.4b65f","x":170,"y":139.5,"wires":[["41af03a7.b0899c"]]},{"id":"207bddeb.a0ed12","type":"mqtt in","z":"ee4c3935.327368","name":"Bedroom Humidity","topic":"espnode3/humidity","qos":"1","broker":"e1f4319e.4b65f","x":174,"y":358.5,"wires":[["259d0460.979ccc"]]},{"id":"911763c0.acb06","type":"mqtt in","z":"ee4c3935.327368","name":"Bedroom Light","topic":"espnode3/light","qos":"1","broker":"e1f4319e.4b65f","x":185,"y":568.5,"wires":[["bde8384b.d0d5e8","98d3cedb.31405","800dfa88.992288"]]},{"id":"800dfa88.992288","type":"debug","z":"ee4c3935.327368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":713,"y":631,"wires":[]},{"id":"a7b3c5e9.975e58","type":"inject","z":"ee4c3935.327368","name":"","topic":"","payload":"30","payloadType":"num","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":188,"y":208.5,"wires":[["41af03a7.b0899c"]]},{"id":"93bedae8.75e658","type":"inject","z":"ee4c3935.327368","name":"","topic":"","payload":"45","payloadType":"num","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":183,"y":428.5,"wires":[["259d0460.979ccc"]]},{"id":"1dd91755.7726e9","type":"inject","z":"ee4c3935.327368","name":"","topic":"","payload":"60","payloadType":"num","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":187,"y":641.5,"wires":[["98d3cedb.31405","bde8384b.d0d5e8","800dfa88.992288"]]},{"id":"d4ab669.c50c698","type":"ui_group","z":"","name":"Bedroom","tab":"7b94a61e.198c48","order":3,"disp":true,"width":"6","collapse":true},{"id":"e1f4319e.4b65f","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7b94a61e.198c48","type":"ui_tab","z":"","name":"Home Automation and Monitoring","icon":"dashboard","order":1}]