node_red_script/bedroom_flow3.json
[{"id":"4ee8cf6d.af088","type":"inject","z":"fdc4c9c0.0a0b18","name":"BR Sample T","topic":"espnode3/temperature","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":300,"y":80,"wires":[["f2a0a4a4.39c6c8"]]},{"id":"f2a0a4a4.39c6c8","type":"function","z":"fdc4c9c0.0a0b18","name":"IsNan","func":"if (isNaN(msg.payload)){\n    msg.payload = context.get('br_temperature') || 0;\n} else {\n    msg.payload = (msg.payload % 65) - 15;\n}\n\ncontext.set('br_temperature',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":546,"y":82,"wires":[["1bb68acd.be1135","392a27d6.c4c0a8","6e875ada.1f2fa4"]]},{"id":"1bb68acd.be1135","type":"ui_gauge","z":"fdc4c9c0.0a0b18","name":"","group":"849bc669.023ed8","order":1,"width":"3","height":"4","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-15","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":734,"y":79,"wires":[]},{"id":"392a27d6.c4c0a8","type":"debug","z":"fdc4c9c0.0a0b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":707,"y":156,"wires":[]},{"id":"6f208e5e.003fb","type":"inject","z":"fdc4c9c0.0a0b18","name":"BR Sample Humidity","topic":"espnode3/humidity","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":320,"y":300,"wires":[["3afe8ff5.6c139"]]},{"id":"3afe8ff5.6c139","type":"function","z":"fdc4c9c0.0a0b18","name":"IsNan","func":"if (isNaN(msg.payload)){\n    msg.payload = context.get('br_humidity') || 0;\n} else {\n    msg.payload = msg.payload % 100;\n}\n\ncontext.set('br_humidity',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":546,"y":302,"wires":[["3cff16ec.6d775a","d87b734e.3da16","92e056be.314548"]]},{"id":"3cff16ec.6d775a","type":"ui_gauge","z":"fdc4c9c0.0a0b18","name":"","group":"849bc669.023ed8","order":3,"width":"3","height":"4","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":714,"y":299,"wires":[]},{"id":"d87b734e.3da16","type":"debug","z":"fdc4c9c0.0a0b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":707,"y":376,"wires":[]},{"id":"d2bc641b.1afb28","type":"inject","z":"fdc4c9c0.0a0b18","name":"BR Sample Light","topic":"espnode3/light","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":290,"y":540,"wires":[["bc190710.720358"]]},{"id":"bc190710.720358","type":"function","z":"fdc4c9c0.0a0b18","name":"IsNan","func":"if (isNaN(msg.payload)){\n    msg.payload = context.get('br_light') || 0;\n} else {\n    msg.payload = msg.payload % 100;\n}\n\ncontext.set('br_light',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":526,"y":542,"wires":[["ff6b8fce.9977c","77193d9a.3898b4","6c6038fc.e5ccd8"]]},{"id":"ff6b8fce.9977c","type":"ui_gauge","z":"fdc4c9c0.0a0b18","name":"","group":"849bc669.023ed8","order":5,"width":"3","height":"4","gtype":"gage","title":"Luminosity","label":"lux","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":704,"y":539,"wires":[]},{"id":"77193d9a.3898b4","type":"debug","z":"fdc4c9c0.0a0b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":687,"y":616,"wires":[]},{"id":"6e875ada.1f2fa4","type":"ui_chart","z":"fdc4c9c0.0a0b18","name":"Temperature Chart","group":"849bc669.023ed8","order":2,"width":"7","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"50","removeOlder":"50","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":760,"y":20,"wires":[[],[]]},{"id":"92e056be.314548","type":"ui_chart","z":"fdc4c9c0.0a0b18","name":"Humidity Chart","group":"849bc669.023ed8","order":4,"width":"7","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":"50","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":750,"y":240,"wires":[[],[]]},{"id":"6c6038fc.e5ccd8","type":"ui_chart","z":"fdc4c9c0.0a0b18","name":"Light Chart","group":"849bc669.023ed8","order":6,"width":"7","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":"50","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":710,"y":460,"wires":[[],[]]},{"id":"849bc669.023ed8","type":"ui_group","z":"","name":"Bed Room","tab":"6a4dbf3a.bb745","order":1,"disp":true,"width":"10","collapse":false},{"id":"6a4dbf3a.bb745","type":"ui_tab","z":"","name":"Home - Bed Room","icon":"dashboard","order":3}]