node_red_script/garden_flow1.json
[{"id":"123a45f6.a5659a","type":"inject","z":"ebc38535.56cb88","name":"Garden Sample T","topic":"espnode1/temperature","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":190,"y":140,"wires":[["4c074790.bc5db8"]]},{"id":"4c074790.bc5db8","type":"function","z":"ebc38535.56cb88","name":"IsNan","func":"if (isNaN(msg.payload)){\n    msg.payload = context.get('garden_temperature') || 0;\n} else {\n    msg.payload = (msg.payload % 65) - 15;\n}\n\ncontext.set('garden_temperature',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["ddb2a5f1.1b6948","29b1935f.da382c","fe52db92.af0f78"]]},{"id":"29b1935f.da382c","type":"ui_gauge","z":"ebc38535.56cb88","name":"","group":"cf844201.85d7c","order":1,"width":"3","height":"4","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-15","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":140,"wires":[]},{"id":"ddb2a5f1.1b6948","type":"debug","z":"ebc38535.56cb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":587,"y":216,"wires":[]},{"id":"664c336a.d0bd1c","type":"inject","z":"ebc38535.56cb88","name":"Garden Sample Humidity","topic":"espnode1/humidity","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":200,"y":360,"wires":[["4cdf8e83.304a7"]]},{"id":"4cdf8e83.304a7","type":"function","z":"ebc38535.56cb88","name":"IsNan","func":"if (isNaN(msg.payload)){\n    msg.payload = context.get('garden_humidity') || 0;\n} else {\n    msg.payload = msg.payload % 100;\n}\n\ncontext.set('garden_humidity',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":406,"y":362,"wires":[["c32612d5.48916","a549fea2.c9565","b0e94c47.4026a"]]},{"id":"c32612d5.48916","type":"ui_gauge","z":"ebc38535.56cb88","name":"","group":"cf844201.85d7c","order":3,"width":"3","height":"4","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":574,"y":359,"wires":[]},{"id":"a549fea2.c9565","type":"debug","z":"ebc38535.56cb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":567,"y":436,"wires":[]},{"id":"d128e026.7e6c","type":"inject","z":"ebc38535.56cb88","name":"Garden Sample Light","topic":"espnode1/light","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":160,"y":560,"wires":[["6f366a8f.996a44"]]},{"id":"6f366a8f.996a44","type":"function","z":"ebc38535.56cb88","name":"IsNan","func":"if (isNaN(msg.payload)){\n    msg.payload = context.get('garden_light') || 0;\n} else {\n    msg.payload = msg.payload % 100;\n}\n\ncontext.set('garden_light',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":386,"y":562,"wires":[["172c5ade.43a9a5","b6427226.49726","3344636e.af9a0c"]]},{"id":"172c5ade.43a9a5","type":"ui_gauge","z":"ebc38535.56cb88","name":"","group":"cf844201.85d7c","order":5,"width":"3","height":"4","gtype":"gage","title":"Light","label":"lux","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":544,"y":559,"wires":[]},{"id":"b6427226.49726","type":"debug","z":"ebc38535.56cb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":547,"y":636,"wires":[]},{"id":"fe52db92.af0f78","type":"ui_chart","z":"ebc38535.56cb88","name":"Garden Temperature Chart","group":"cf844201.85d7c","order":2,"width":"7","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":780,"y":80,"wires":[[],[]]},{"id":"b0e94c47.4026a","type":"ui_chart","z":"ebc38535.56cb88","name":"Garden Humidity Chart","group":"cf844201.85d7c","order":4,"width":"7","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"50","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":300,"wires":[[],[]]},{"id":"3344636e.af9a0c","type":"ui_chart","z":"ebc38535.56cb88","name":"Garden Light Chart","group":"cf844201.85d7c","order":6,"width":"7","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"50","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":500,"wires":[[],[]]},{"id":"cf844201.85d7c","type":"ui_group","z":"","name":"Garden","tab":"a10fc25.5a1de4","order":1,"disp":true,"width":"10","collapse":false},{"id":"a10fc25.5a1de4","type":"ui_tab","z":"","name":"Home - Garden","icon":"dashboard","order":1}]