node_red_script/homeautmon_flow_FINAL.json
[
    {
        "id": "7d6d0ff9.579f8",
        "type": "tab",
        "label": "Backyard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5650015b.3b555",
        "type": "tab",
        "label": "Living Room",
        "disabled": false,
        "info": ""
    },
    {
        "id": "25170876.8b9a18",
        "type": "tab",
        "label": "Bedroom",
        "disabled": false,
        "info": ""
    },
    {
        "id": "147cc3bd.887c0c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Home Automation And Monitoring",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d0741307.852fd",
        "type": "ui_group",
        "z": "",
        "name": "Living Room",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "d4ab669.c50c698",
        "type": "ui_group",
        "z": "",
        "name": "Bedroom",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "36466ca2.91fcd4",
        "type": "ui_group",
        "z": "",
        "name": "Backyard",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "b57b07a6.a18608",
        "type": "ui_group",
        "z": "",
        "name": "Backyard",
        "tab": "5dab41b7.08ad1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "5dab41b7.08ad1",
        "type": "ui_tab",
        "z": "",
        "name": "Home Automation and Monitoring",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "449c7ae1.2a60c4",
        "type": "ui_group",
        "z": "",
        "name": "Bedroom",
        "tab": "5dab41b7.08ad1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "aec31fdc.7f265",
        "type": "ui_group",
        "z": "",
        "name": "Living room",
        "tab": "5dab41b7.08ad1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "328894b7.698e5c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "79ca6e32.7e7c6",
        "type": "ui_gauge",
        "z": "25170876.8b9a18",
        "name": "Bedroom Temperature Gauge",
        "group": "449c7ae1.2a60c4",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "-15",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1050,
        "y": 160,
        "wires": []
    },
    {
        "id": "2002c04b.6d02b",
        "type": "debug",
        "z": "25170876.8b9a18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "57123d11.440c44",
        "type": "ui_gauge",
        "z": "25170876.8b9a18",
        "name": "Bedroom Humidity Compass",
        "group": "449c7ae1.2a60c4",
        "order": 2,
        "width": "6",
        "height": "3",
        "gtype": "compass",
        "title": "Humidity",
        "label": "%",
        "format": "{{value|number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1035,
        "y": 356,
        "wires": []
    },
    {
        "id": "a9d358e3.366058",
        "type": "debug",
        "z": "25170876.8b9a18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 990.7500152587891,
        "y": 466.2500057220459,
        "wires": []
    },
    {
        "id": "4e2747c9.f00e68",
        "type": "ui_gauge",
        "z": "25170876.8b9a18",
        "name": "Bedroom Light Gauge",
        "group": "449c7ae1.2a60c4",
        "order": 3,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Light",
        "label": "%",
        "format": "{{value|number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 741,
        "y": 514,
        "wires": []
    },
    {
        "id": "9260955c.63bbf8",
        "type": "ui_chart",
        "z": "25170876.8b9a18",
        "name": "Bedroom Temp/Hum Chart",
        "group": "449c7ae1.2a60c4",
        "order": 4,
        "width": "6",
        "height": "4",
        "label": "Temp/Hum History",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-15",
        "ymax": "45",
        "removeOlder": "50",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1033,
        "y": 286,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3a8cbc0e.89d4b4",
        "type": "ui_chart",
        "z": "25170876.8b9a18",
        "name": "Bedroom Light Chart",
        "group": "449c7ae1.2a60c4",
        "order": 5,
        "width": "6",
        "height": "4",
        "label": "Light History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "100",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 743.5000114440918,
        "y": 613.7500076293945,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e4abacdc.3981b",
        "type": "mqtt in",
        "z": "25170876.8b9a18",
        "name": "Bedroom Humidity",
        "topic": "espnode3/humidity",
        "qos": "1",
        "broker": "328894b7.698e5c",
        "x": 174,
        "y": 358.5,
        "wires": [
            [
                "8c542dcc.3764e"
            ]
        ]
    },
    {
        "id": "373ed65.4babf2a",
        "type": "mqtt in",
        "z": "25170876.8b9a18",
        "name": "Bedroom Light",
        "topic": "espnode3/light",
        "qos": "1",
        "broker": "328894b7.698e5c",
        "x": 185,
        "y": 579.7500076293945,
        "wires": [
            [
                "4e2747c9.f00e68",
                "3a8cbc0e.89d4b4",
                "85cf692b.2dd0e8",
                "86f68830.1fa158"
            ]
        ]
    },
    {
        "id": "85cf692b.2dd0e8",
        "type": "debug",
        "z": "25170876.8b9a18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 715.5000076293945,
        "y": 687.2500095367432,
        "wires": []
    },
    {
        "id": "7be69125.3e0a",
        "type": "http request",
        "z": "25170876.8b9a18",
        "name": "TS HTTP Request",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1093.7500190734863,
        "y": 72.50000381469727,
        "wires": [
            []
        ]
    },
    {
        "id": "86f68830.1fa158",
        "type": "function",
        "z": "25170876.8b9a18",
        "name": "CreateHttpRequest",
        "func": "var API_KEY = \"ZJ90P58GA4ATE32Q\"; \n\nvar data = msg.payload;\n\nmsg.url = \"https://api.thingspeak.com/update?api_key=\"+ API_KEY + \"&field7=\" + data; \n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 965.0000152587891,
        "y": 557.5000076293945,
        "wires": [
            [
                "7f0771c3.f55b"
            ]
        ]
    },
    {
        "id": "ea0e663d.726648",
        "type": "http request",
        "z": "7d6d0ff9.579f8",
        "name": "TS HTTP Request",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1146.2500190734863,
        "y": 115.00000190734863,
        "wires": [
            []
        ]
    },
    {
        "id": "3cd52fb4.7e97b",
        "type": "function",
        "z": "7d6d0ff9.579f8",
        "name": "CreateHttpRequest",
        "func": "if(!isNaN(msg.payload)) {\n    \n    var API_KEY = \"ZJ90P58GA4ATE32Q\"; \n\n    var data = msg.payload;\n\n    msg.url = \"https://api.thingspeak.com/update?api_key=\"+ API_KEY + \"&field1=\" + data; \n    \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 120,
        "wires": [
            [
                "7787ddb4.d25b84",
                "82898123.c471d",
                "e6e26441.680848",
                "ea0e663d.726648"
            ]
        ]
    },
    {
        "id": "4f6aedfe.502be4",
        "type": "function",
        "z": "7d6d0ff9.579f8",
        "name": "CreateHttpRequest",
        "func": "var API_KEY = \"ZJ90P58GA4ATE32Q\"; \n\nvar data = msg.payload;\n\nmsg.url = \"https://api.thingspeak.com/update?api_key=\"+ API_KEY + \"&field3=\" + data; \n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 971.2500152587891,
        "y": 528.7500076293945,
        "wires": [
            [
                "44aed715.7bbda8"
            ]
        ]
    },
    {
        "id": "7787ddb4.d25b84",
        "type": "debug",
        "z": "7d6d0ff9.579f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 926,
        "y": 165,
        "wires": []
    },
    {
        "id": "82898123.c471d",
        "type": "ui_chart",
        "z": "7d6d0ff9.579f8",
        "name": "Backyard Temp/Hum chart",
        "group": "b57b07a6.a18608",
        "order": 4,
        "width": "6",
        "height": "5",
        "label": "Temp/Hum History",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-15",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#30f1f1",
            "#ff7f0e",
            "#2ca02c",
            "#ff6a6a",
            "#e6e600",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 980.0000152587891,
        "y": 245.00000381469727,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e6e26441.680848",
        "type": "ui_gauge",
        "z": "7d6d0ff9.579f8",
        "name": "Backyard Temperature Gauge",
        "group": "b57b07a6.a18608",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value|number:1}}",
        "min": "-15",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 982.2500152587891,
        "y": 51.25000190734863,
        "wires": []
    },
    {
        "id": "c2a3e9b7.2373b8",
        "type": "mqtt in",
        "z": "7d6d0ff9.579f8",
        "name": "Backyard Temperature",
        "topic": "espnode1/temperature",
        "qos": "1",
        "broker": "328894b7.698e5c",
        "x": 217,
        "y": 125.5,
        "wires": [
            [
                "9fb18152.1b0bf"
            ]
        ]
    },
    {
        "id": "e116c5ef.98f5e8",
        "type": "function",
        "z": "7d6d0ff9.579f8",
        "name": "CreateHttpRequest",
        "func": "if(!isNaN(msg.payload)) {\n    \n    var API_KEY = \"ZJ90P58GA4ATE32Q\"; \n\n    var data = msg.payload;\n\n    msg.url = \"https://api.thingspeak.com/update?api_key=\"+ API_KEY + \"&field2=\" + data; \n    \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 340,
        "wires": [
            [
                "82898123.c471d",
                "8d38c2cd.8a60d",
                "8f0f50a8.f87d",
                "e165038f.39d37"
            ]
        ]
    },
    {
        "id": "c31cbd2d.af79c",
        "type": "mqtt in",
        "z": "7d6d0ff9.579f8",
        "name": "Backyard Light",
        "topic": "espnode1/light",
        "qos": "1",
        "broker": "328894b7.698e5c",
        "x": 241,
        "y": 548.5,
        "wires": [
            [
                "4f6aedfe.502be4",
                "76e058a9.db9ed8",
                "99c5647d.17df98",
                "4afd1193.ba86"
            ]
        ]
    },
    {
        "id": "8d38c2cd.8a60d",
        "type": "ui_gauge",
        "z": "7d6d0ff9.579f8",
        "name": "Backyard Humidity Compass",
        "group": "b57b07a6.a18608",
        "order": 2,
        "width": "6",
        "height": "3",
        "gtype": "compass",
        "title": "Humidity",
        "label": "%",
        "format": "{{value|number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 980,
        "y": 351,
        "wires": []
    },
    {
        "id": "8f0f50a8.f87d",
        "type": "debug",
        "z": "7d6d0ff9.579f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 930,
        "y": 412,
        "wires": []
    },
    {
        "id": "94c7facd.0766b8",
        "type": "mqtt in",
        "z": "7d6d0ff9.579f8",
        "name": "Backyard Humidity",
        "topic": "espnode1/humidity",
        "qos": "1",
        "broker": "328894b7.698e5c",
        "x": 231,
        "y": 352.5,
        "wires": [
            [
                "812c0ee1.7e21c"
            ]
        ]
    },
    {
        "id": "76e058a9.db9ed8",
        "type": "ui_gauge",
        "z": "7d6d0ff9.579f8",
        "name": "Backyard Light Gauge",
        "group": "b57b07a6.a18608",
        "order": 3,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Light",
        "label": "%",
        "format": "{{value|number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 801.2500152587891,
        "y": 474.00000762939453,
        "wires": []
    },
    {
        "id": "99c5647d.17df98",
        "type": "ui_chart",
        "z": "7d6d0ff9.579f8",
        "name": "Backyard Light Chart",
        "group": "b57b07a6.a18608",
        "order": 5,
        "width": "6",
        "height": "4",
        "label": "Light History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 799.0000152587891,
        "y": 584.7500076293945,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4afd1193.ba86",
        "type": "debug",
        "z": "7d6d0ff9.579f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 771.0000152587891,
        "y": 644.0000095367432,
        "wires": []
    },
    {
        "id": "e977fe72.93dab",
        "type": "function",
        "z": "25170876.8b9a18",
        "name": "CreateHttpRequest",
        "func": "if(!isNaN(msg.payload)) {\n    \n    var API_KEY = \"ZJ90P58GA4ATE32Q\"; \n\n    var data = msg.payload;\n\n    msg.url = \"https://api.thingspeak.com/update?api_key=\"+ API_KEY + \"&field5=\" + data; \n    \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "79ca6e32.7e7c6",
                "2002c04b.6d02b",
                "9260955c.63bbf8",
                "7be69125.3e0a"
            ]
        ]
    },
    {
        "id": "dd78ceb.867ca3",
        "type": "function",
        "z": "25170876.8b9a18",
        "name": "CreateHttpRequest",
        "func": "if(!isNaN(msg.payload)) {\n    \n    var API_KEY = \"ZJ90P58GA4ATE32Q\"; \n\n    var data = msg.payload;\n\n    msg.url = \"https://api.thingspeak.com/update?api_key=\"+ API_KEY + \"&field6=\" + data; \n    \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 360,
        "wires": [
            [
                "9260955c.63bbf8",
                "57123d11.440c44",
                "a9d358e3.366058",
                "e20a2af7.87d8d8"
            ]
        ]
    },
    {
        "id": "e165038f.39d37",
        "type": "http request",
        "z": "7d6d0ff9.579f8",
        "name": "TS HTTP Request",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1147.750015258789,
        "y": 298.7500047683716,
        "wires": [
            []
        ]
    },
    {
        "id": "44aed715.7bbda8",
        "type": "http request",
        "z": "7d6d0ff9.579f8",
        "name": "TS HTTP Request",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1230.0000190734863,
        "y": 526.2500076293945,
        "wires": [
            []
        ]
    },
    {
        "id": "e20a2af7.87d8d8",
        "type": "http request",
        "z": "25170876.8b9a18",
        "name": "TS HTTP Request",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1170.0000190734863,
        "y": 410.0000066757202,
        "wires": [
            []
        ]
    },
    {
        "id": "7f0771c3.f55b",
        "type": "http request",
        "z": "25170876.8b9a18",
        "name": "TS HTTP Request",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1237.500015258789,
        "y": 556.2500076293945,
        "wires": [
            []
        ]
    },
    {
        "id": "75330e5a.4e6ed",
        "type": "ui_gauge",
        "z": "5650015b.3b555",
        "name": "Living Room Light Gauge",
        "group": "aec31fdc.7f265",
        "order": 5,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Light",
        "label": "%",
        "format": "{{value|number:0}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "5033e534.75b1dc",
        "type": "debug",
        "z": "5650015b.3b555",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 652,
        "y": 215,
        "wires": []
    },
    {
        "id": "1e3b3e70.dfd292",
        "type": "ui_chart",
        "z": "5650015b.3b555",
        "name": "Living Room Light Chart",
        "group": "aec31fdc.7f265",
        "order": 6,
        "width": "6",
        "height": "4",
        "label": "Light History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "100",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 692,
        "y": 157,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7a96fca6.cea084",
        "type": "mqtt in",
        "z": "5650015b.3b555",
        "name": "Living Room Light",
        "topic": "espnode2/light",
        "qos": "1",
        "broker": "328894b7.698e5c",
        "x": 181,
        "y": 154.5,
        "wires": [
            [
                "75330e5a.4e6ed",
                "1e3b3e70.dfd292",
                "5033e534.75b1dc",
                "7772c90c.4e70c8"
            ]
        ]
    },
    {
        "id": "7fcf2dc4.5b2534",
        "type": "http request",
        "z": "5650015b.3b555",
        "name": "TS HTTP Request",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 919.0000152587891,
        "y": 281.50000381469727,
        "wires": [
            []
        ]
    },
    {
        "id": "7772c90c.4e70c8",
        "type": "function",
        "z": "5650015b.3b555",
        "name": "CreateHttpRequest",
        "func": "var API_KEY = \"ZJ90P58GA4ATE32Q\"; \n\nvar data = msg.payload;\n\nmsg.url = \"https://api.thingspeak.com/update?api_key=\"+ API_KEY + \"&field4=\" + data; \n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 672.7500114440918,
        "y": 281.75000381469727,
        "wires": [
            [
                "7fcf2dc4.5b2534"
            ]
        ]
    },
    {
        "id": "42ee449a.cc378c",
        "type": "mqtt out",
        "z": "5650015b.3b555",
        "name": "Lamp Switch",
        "topic": "espnode2/toggle_sw",
        "qos": "1",
        "retain": "true",
        "broker": "328894b7.698e5c",
        "x": 646.9444961547852,
        "y": 437.08334016799927,
        "wires": []
    },
    {
        "id": "6c892ab7.8c7ca4",
        "type": "ui_switch",
        "z": "5650015b.3b555",
        "name": "Lamp Relay Switch",
        "label": "Lamp Switch",
        "group": "aec31fdc.7f265",
        "order": 3,
        "width": "6",
        "height": "2",
        "passthru": true,
        "decouple": "false",
        "topic": "active",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 185.0000228881836,
        "y": 437.0833282470703,
        "wires": [
            [
                "42ee449a.cc378c"
            ]
        ]
    },
    {
        "id": "9fb18152.1b0bf",
        "type": "function",
        "z": "7d6d0ff9.579f8",
        "name": "isNotNan",
        "func": "if(!isNaN(msg.payload)) {\n    msg.topic = \"Temperature\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 120,
        "wires": [
            [
                "3cd52fb4.7e97b"
            ]
        ]
    },
    {
        "id": "812c0ee1.7e21c",
        "type": "function",
        "z": "7d6d0ff9.579f8",
        "name": "isNotNan",
        "func": "if(!isNaN(msg.payload)) {\n    msg.topic = \"Humidity\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 340,
        "wires": [
            [
                "e116c5ef.98f5e8"
            ]
        ]
    },
    {
        "id": "e55a8be7.9d73a8",
        "type": "function",
        "z": "25170876.8b9a18",
        "name": "isNotNan",
        "func": "if(!isNaN(msg.payload)) {\n    msg.topic = \"Temperature\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "e977fe72.93dab"
            ]
        ]
    },
    {
        "id": "8c542dcc.3764e",
        "type": "function",
        "z": "25170876.8b9a18",
        "name": "isNotNan",
        "func": "if(!isNaN(msg.payload)) {\n    msg.topic = \"Humidity\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 360,
        "wires": [
            [
                "dd78ceb.867ca3"
            ]
        ]
    },
    {
        "id": "6bd34785.0ff4e8",
        "type": "mqtt in",
        "z": "25170876.8b9a18",
        "name": "Bedroom Temperature",
        "topic": "espnode3/temperature",
        "qos": "1",
        "broker": "328894b7.698e5c",
        "x": 170,
        "y": 159.50000190734863,
        "wires": [
            [
                "e55a8be7.9d73a8"
            ]
        ]
    }
]