node_red_script/livingroom_flow_v2.json
[{"id":"863c199.3c4b6e8","type":"tab","label":"Living Room","disabled":false,"info":""},{"id":"7a583311.dd56cc","type":"ui_gauge","z":"863c199.3c4b6e8","name":"Living Room Light Gauge","group":"d0741307.852fd","order":2,"width":"6","height":"3","gtype":"gage","title":"Light","label":"%","format":"{{value|number:0}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":776,"y":102,"wires":[]},{"id":"71ee2dd2.ccc294","type":"debug","z":"863c199.3c4b6e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":738,"y":217,"wires":[]},{"id":"3c2ce96f.d44a46","type":"ui_switch","z":"863c199.3c4b6e8","name":"Lamp Relay Switch","label":"Lamp","group":"d0741307.852fd","order":1,"width":"6","height":"2","passthru":true,"decouple":"false","topic":"espnode2/toggle_sw","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":271,"y":348,"wires":[["5bdf51cb.15249"]]},{"id":"5bdf51cb.15249","type":"mqtt out","z":"863c199.3c4b6e8","name":"Lamp Switch","topic":"espnode2/toggle_sw","qos":"1","retain":"","broker":"e1f4319e.4b65f","x":737.75,"y":349,"wires":[]},{"id":"758c93ca.200f0c","type":"ui_chart","z":"863c199.3c4b6e8","name":"Living Room Light Chart","group":"d0741307.852fd","order":3,"width":"6","height":"4","label":"Light History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":778,"y":159,"wires":[[],[]]},{"id":"bb94bd1c.7e088","type":"mqtt in","z":"863c199.3c4b6e8","name":"Living Room Light","topic":"espnode2/light","qos":"1","broker":"e1f4319e.4b65f","x":267,"y":156.5,"wires":[["7a583311.dd56cc","758c93ca.200f0c","71ee2dd2.ccc294"]]},{"id":"d0741307.852fd","type":"ui_group","z":"","name":"Living Room","tab":"7b94a61e.198c48","order":2,"disp":true,"width":"6","collapse":true},{"id":"e1f4319e.4b65f","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7b94a61e.198c48","type":"ui_tab","z":"","name":"Home Automation and Monitoring","icon":"dashboard","order":1}]