node_red_script/livingroom_flow2_v3.json
[{"id":"c1a2d0e8.0fefa","type":"ui_gauge","z":"2ccb7a24.68b656","name":"Living Room Light Gauge","group":"828a19a0.f9d988","order":2,"width":"6","height":"3","gtype":"gage","title":"Light","label":"%","format":"{{value|number:0}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":776,"y":102,"wires":[]},{"id":"ec33a8da.addca8","type":"debug","z":"2ccb7a24.68b656","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":738,"y":217,"wires":[]},{"id":"8a89e5bd.fad928","type":"ui_switch","z":"2ccb7a24.68b656","name":"Lamp Relay Switch","label":"Lamp","group":"828a19a0.f9d988","order":1,"width":"6","height":"2","passthru":true,"decouple":"false","topic":"espnode2/toggle_sw","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":271,"y":348,"wires":[["63eb5854.b75ba8"]]},{"id":"63eb5854.b75ba8","type":"mqtt out","z":"2ccb7a24.68b656","name":"Lamp Switch","topic":"espnode2/toggle_sw","qos":"1","retain":"","broker":"bb4f185a.f831f8","x":737.75,"y":349,"wires":[]},{"id":"96b4bb81.285bb8","type":"ui_chart","z":"2ccb7a24.68b656","name":"Living Room Light Chart","group":"828a19a0.f9d988","order":3,"width":"6","height":"4","label":"Light History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":778,"y":159,"wires":[[],[]]},{"id":"ceec6172.57052","type":"mqtt in","z":"2ccb7a24.68b656","name":"Living Room Light","topic":"espnode2/light","qos":"1","broker":"bb4f185a.f831f8","x":267,"y":156.5,"wires":[["c1a2d0e8.0fefa","96b4bb81.285bb8","ec33a8da.addca8","2cce84d2.16335c"]]},{"id":"693d7973.8f0f38","type":"http request","z":"2ccb7a24.68b656","name":"","method":"GET","ret":"txt","url":"","x":1230,"y":280,"wires":[[]]},{"id":"2cce84d2.16335c","type":"function","z":"2ccb7a24.68b656","name":"CreateHttpRequest","func":"var API_KEY = \"ZJ90P58GA4ATE32Q\"; \n\nvar data = msg.payload;\n\nmsg.url = \"https://api.thingspeak.com/update?api_key=\"+ API_KEY + \"&field4=\" + data; \n\nreturn msg;\n","outputs":1,"noerr":0,"x":1010,"y":280,"wires":[["693d7973.8f0f38"]]},{"id":"828a19a0.f9d988","type":"ui_group","z":"","name":"Living Room","tab":"656db5e.d90bc4c","order":2,"disp":true,"width":"6","collapse":true},{"id":"bb4f185a.f831f8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"656db5e.d90bc4c","type":"ui_tab","z":"","name":"Home Automation and Monitoring","icon":"dashboard","order":1}]