node_red_script/livingroom_flow2.json
[{"id":"9a991a69.d02bb8","type":"inject","z":"d77e03f8.e03d4","name":"LR Sample Light","topic":"espnode2/light","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":250,"y":120,"wires":[["e3280a7d.f8b388"]]},{"id":"e3280a7d.f8b388","type":"function","z":"d77e03f8.e03d4","name":"IsNan","func":"if (isNaN(msg.payload)){\n    msg.payload = context.get('lr_light') || 0;\n} else {\n    msg.payload = msg.payload % 100;\n}\n\ncontext.set('lr_light',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":486,"y":122,"wires":[["7489f1a2.293c8","a9c06ee1.00a64","10360544.a82e9b"]]},{"id":"7489f1a2.293c8","type":"ui_gauge","z":"d77e03f8.e03d4","name":"","group":"485672ec.ccb91c","order":2,"width":"3","height":"4","gtype":"gage","title":"LR Light","label":"lux","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":654,"y":119,"wires":[]},{"id":"c14727a0.c1b818","type":"inject","z":"d77e03f8.e03d4","name":"Timer Switch On","topic":"espnode2/toggle_sw","payload":"1","payloadType":"num","repeat":"","crontab":"00 12 * * 2,3,4","once":false,"onceDelay":0.1,"x":270,"y":280,"wires":[["a88c0f34.90871"]]},{"id":"9c3bbca8.0af9a","type":"inject","z":"d77e03f8.e03d4","name":"Timer Switch Off","topic":"espnode2/toggle_sw","payload":"0","payloadType":"num","repeat":"","crontab":"00 11 * * 1,5,6,0","once":false,"onceDelay":0.1,"x":270,"y":340,"wires":[["a88c0f34.90871"]]},{"id":"a9c06ee1.00a64","type":"debug","z":"d77e03f8.e03d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":647,"y":196,"wires":[]},{"id":"a88c0f34.90871","type":"ui_switch","z":"d77e03f8.e03d4","name":"Rele switch","label":"Relè switch","group":"485672ec.ccb91c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"espnode2/toggle_sw","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":590,"y":320,"wires":[["58f48b6a.0de744"]]},{"id":"58f48b6a.0de744","type":"mqtt out","z":"d77e03f8.e03d4","name":"Relè","topic":"espnode2/toggle_sw","qos":"1","retain":"","broker":"cbe04697.7d6668","x":783.75,"y":316,"wires":[]},{"id":"10360544.a82e9b","type":"ui_chart","z":"d77e03f8.e03d4","name":"Light Chart","group":"485672ec.ccb91c","order":3,"width":"7","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":"50","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":80,"wires":[[],[]]},{"id":"485672ec.ccb91c","type":"ui_group","z":"","name":"Living Room","tab":"bfcd758e.02db18","order":1,"disp":true,"width":"10","collapse":false},{"id":"cbe04697.7d6668","type":"mqtt-broker","z":"","name":"mqtt-broker rasperry Pi","broker":"192.168.1.50","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bfcd758e.02db18","type":"ui_tab","z":"","name":"Home - Living Room","icon":"dashboard","order":2}]