node_red_script/script.json
[{"id":"619dc0.8017d24","type":"inject","z":"f98ee1f8.bbbdf","name":"Garden Sample T","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":155,"y":111,"wires":[["80998ff9.08b1c8"]]},{"id":"80998ff9.08b1c8","type":"function","z":"f98ee1f8.bbbdf","name":"IsNan","func":"if (isNaN(msg.payload)){\n    msg.payload = context.get('garden_temperature') || 0;\n} else {\n    msg.payload = (msg.payload % 65) - 15;\n}\n\ncontext.set('garden_temperature',msg.payload);\nreturn msg;","outputs":2,"noerr":0,"x":391,"y":113,"wires":[["e62840ca.8b91e8","8493501e.2ad598"],[]]},{"id":"e62840ca.8b91e8","type":"ui_gauge","z":"f98ee1f8.bbbdf","name":"","group":"e0156e00.5014b8","order":1,"width":0,"height":0,"gtype":"gage","title":"Garden Temperature","label":"°C","format":"{{value}}","min":"-15","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":599,"y":110,"wires":[]},{"id":"8493501e.2ad598","type":"debug","z":"f98ee1f8.bbbdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":552,"y":187,"wires":[]},{"id":"e97542af.05af78","type":"inject","z":"f98ee1f8.bbbdf","name":"Humidity Sample","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":140,"y":251,"wires":[["e110d2a4.ab6ae"]]},{"id":"e110d2a4.ab6ae","type":"function","z":"f98ee1f8.bbbdf","name":"IsNan","func":"if (isNaN(msg.payload)){\n    msg.payload = context.get('garden_humidity') || 0;\n} else {\n    msg.payload = msg.payload % 100;\n}\n\ncontext.set('garden_humidity',msg.payload);\nreturn msg;","outputs":2,"noerr":0,"x":376,"y":253,"wires":[["639dc5e5.9ee424","325c1c75.1d509c"],[]]},{"id":"639dc5e5.9ee424","type":"ui_gauge","z":"f98ee1f8.bbbdf","name":"","group":"e0156e00.5014b8","order":2,"width":0,"height":0,"gtype":"wave","title":"Garden Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":574,"y":250,"wires":[]},{"id":"325c1c75.1d509c","type":"debug","z":"f98ee1f8.bbbdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":537,"y":327,"wires":[]},{"id":"16735c24.f734c4","type":"inject","z":"f98ee1f8.bbbdf","name":"Light Sample","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":116,"y":384,"wires":[["cdb93b4b.d2528"]]},{"id":"cdb93b4b.d2528","type":"function","z":"f98ee1f8.bbbdf","name":"IsNan","func":"if (isNaN(msg.payload)){\n    msg.payload = context.get('garden_light') || 0;\n} else {\n    msg.payload = msg.payload % 100;\n}\n\ncontext.set('garden_light',msg.payload);\nreturn msg;","outputs":2,"noerr":0,"x":362,"y":386,"wires":[["c45a7507.745118","da827208.6b1548"],[]]},{"id":"c45a7507.745118","type":"ui_gauge","z":"f98ee1f8.bbbdf","name":"","group":"e0156e00.5014b8","order":3,"width":0,"height":0,"gtype":"gage","title":"Garden Luminosity","label":"lux","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":383,"wires":[]},{"id":"da827208.6b1548","type":"debug","z":"f98ee1f8.bbbdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":523,"y":460,"wires":[]},{"id":"79a575c4.04112c","type":"inject","z":"f98ee1f8.bbbdf","name":"LR Sample Light","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":901.25,"y":115,"wires":[["ca4a7189.3329f8"]]},{"id":"ca4a7189.3329f8","type":"function","z":"f98ee1f8.bbbdf","name":"IsNan","func":"if (isNaN(msg.payload)){\n    msg.payload = context.get('lr_light') || 0;\n} else {\n    msg.payload = msg.payload % 100;\n}\n\ncontext.set('lr_light',msg.payload);\nreturn msg;","outputs":2,"noerr":0,"x":1137.25,"y":117,"wires":[["f091da20.31615","5f5f757b.fb96c4"],[]]},{"id":"f091da20.31615","type":"ui_gauge","z":"f98ee1f8.bbbdf","name":"","group":"9fc7ba0.2a242c8","order":3,"width":0,"height":0,"gtype":"gage","title":"LR Light","label":"lux","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1305.25,"y":114,"wires":[]},{"id":"5f5f757b.fb96c4","type":"debug","z":"f98ee1f8.bbbdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1298.25,"y":191,"wires":[]},{"id":"1e478ce9.7c820b","type":"inject","z":"f98ee1f8.bbbdf","name":"LR Timer","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":871.25,"y":282.5,"wires":[["81c0bf1a.5061b"]]},{"id":"81c0bf1a.5061b","type":"function","z":"f98ee1f8.bbbdf","name":"IsNan","func":"if (isNaN(msg.payload)){\n    msg.payload = context.get('lr_timer') || 0;\n} else {\n    msg.payload = msg.payload % 100;\n}\n\ncontext.set('lr_timer',msg.payload);\nreturn msg;","outputs":2,"noerr":0,"x":1127.25,"y":284.5,"wires":[["e63c5a99.2d66e8","175f6d78.6977eb"],[]]},{"id":"e63c5a99.2d66e8","type":"ui_gauge","z":"f98ee1f8.bbbdf","name":"","group":"9fc7ba0.2a242c8","order":3,"width":0,"height":0,"gtype":"gage","title":"LR Timer","label":"","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1295.25,"y":281.5,"wires":[]},{"id":"175f6d78.6977eb","type":"debug","z":"f98ee1f8.bbbdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1288.25,"y":358.5,"wires":[]},{"id":"c3255edc.98c908","type":"inject","z":"f98ee1f8.bbbdf","name":"BR Sample T","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":1693.75,"y":68.75,"wires":[["65c7dafa.9a59ec"]]},{"id":"65c7dafa.9a59ec","type":"function","z":"f98ee1f8.bbbdf","name":"IsNan","func":"if (isNaN(msg.payload)){\n    msg.payload = context.get('br_temperature') || 0;\n} else {\n    msg.payload = (msg.payload % 65) - 15;\n}\n\ncontext.set('br_temperature',msg.payload);\nreturn msg;","outputs":2,"noerr":0,"x":1939.75,"y":70.75,"wires":[["512fc6a7.2e038","6aa63d09.ac7f1c"],[]]},{"id":"512fc6a7.2e038","type":"ui_gauge","z":"f98ee1f8.bbbdf","name":"","group":"29bbfe1f.fbeee2","order":3,"width":0,"height":0,"gtype":"gage","title":"BR Temperature","label":"°C","format":"{{value}}","min":"-15","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2137.75,"y":67.75,"wires":[]},{"id":"6aa63d09.ac7f1c","type":"debug","z":"f98ee1f8.bbbdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2100.75,"y":144.75,"wires":[]},{"id":"628e9a9d.079bfc","type":"inject","z":"f98ee1f8.bbbdf","name":"BR Sample Humidity","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":1725,"y":231.25,"wires":[["7d96bb77.7e77f4"]]},{"id":"7d96bb77.7e77f4","type":"function","z":"f98ee1f8.bbbdf","name":"IsNan","func":"if (isNaN(msg.payload)){\n    msg.payload = context.get('br_humidity') || 0;\n} else {\n    msg.payload = msg.payload % 100;\n}\n\ncontext.set('br_humidity',msg.payload);\nreturn msg;","outputs":2,"noerr":0,"x":1951,"y":233.25,"wires":[["cfc137d6.53a98","f527b143.c5d888"],[]]},{"id":"cfc137d6.53a98","type":"ui_gauge","z":"f98ee1f8.bbbdf","name":"","group":"29bbfe1f.fbeee2","order":3,"width":0,"height":0,"gtype":"wave","title":"BR Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2129,"y":230.25,"wires":[]},{"id":"f527b143.c5d888","type":"debug","z":"f98ee1f8.bbbdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2112,"y":307.25,"wires":[]},{"id":"4f53e1e7.f029c","type":"inject","z":"f98ee1f8.bbbdf","name":"BR Sample Light","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":1712.5,"y":371.25,"wires":[["fbe07561.8de528"]]},{"id":"fbe07561.8de528","type":"function","z":"f98ee1f8.bbbdf","name":"IsNan","func":"if (isNaN(msg.payload)){\n    msg.payload = context.get('br_light') || 0;\n} else {\n    msg.payload = msg.payload % 100;\n}\n\ncontext.set('br_light',msg.payload);\nreturn msg;","outputs":2,"noerr":0,"x":1948.5,"y":373.25,"wires":[["9f4ae046.c697a","ec93135e.d60a"],[]]},{"id":"9f4ae046.c697a","type":"ui_gauge","z":"f98ee1f8.bbbdf","name":"","group":"29bbfe1f.fbeee2","order":3,"width":0,"height":0,"gtype":"gage","title":"BR Luminosity","label":"lux","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2136.5,"y":370.25,"wires":[]},{"id":"ec93135e.d60a","type":"debug","z":"f98ee1f8.bbbdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2109.5,"y":447.25,"wires":[]},{"id":"e0156e00.5014b8","type":"ui_group","z":0,"name":"Garden","tab":"5c8ed6f4.3e8f78","order":1,"disp":true,"width":"6"},{"id":"9fc7ba0.2a242c8","type":"ui_group","z":0,"name":"Living Room","tab":"5c8ed6f4.3e8f78","order":2,"disp":true,"width":"6"},{"id":"29bbfe1f.fbeee2","type":"ui_group","z":0,"name":"Bed Room","tab":"5c8ed6f4.3e8f78","order":3,"disp":true,"width":"6"},{"id":"5c8ed6f4.3e8f78","type":"ui_tab","z":0,"name":"Home Automation and Monitoring","icon":"dashboard","order":1}]
